{% extends "base.html" %}
{% block title %}Sign Up{% endblock%}
{% block content %}
<form method="POST">
    <br>
    <h3 align="center"> UBlog Modificar Registro</h3>
    <br>
    <div class="form-group">   
        <label for="name">Nombre Completo</label>
        <input 
             type="text" 
             id="name" 
             name="name" 
             class="form-control" 
             placeholder="{{nombreCompleto}}"
             required
       />
       <br> 
       <label for="username">Nombre de Usuario</label>
       <input 
            type="text" 
            id="username" 
            name="username" 
            class="form-control" 
            placeholder="{{username}}"
            required
            minlength="4" 
      />
        <br> 
        <label for="password">Contraseña</label>
        <input 
             type="password" 
             id="password" 
             name="password" 
             class="form-control" 
             placeholder="Ingrese nueva contraseña"
             required
             minlength="8" 
       />
        <br>
        <div align="center">
            <button class="btn btn-primary" type="submit">Modificar</button>
        </div>


    </div>


{% endblock%}